:root{
  --background: #3c5aa64A;
  --display-frame: #fff;
  --borders: #2a75bb75;
  --button: #ffcb05;
  --pokeyellow: #ffcb05;
  --darkpokeblue: #3c5aa6;
}
body{
  background-color: var(--background);
}
#main-display{
  margin: 0 auto;
  width: 65%;
  height: 80%;
  min-height: 475px;
  max-width: 600px;
  min-width: 450px;
  background-color: var(--display-frame);
  /* border-radius: 7.5px; */
  border-bottom-left-radius: 45px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 45px 225px;
  border: 1px solid var(--borders);
  /* box-shadow: 5px 5px #a394b3; */
  /* box-shadow: rgba(255, 203, 5, 0.85) 0px -50px 35px -20px inset; */
  box-shadow: rgba(42, 117, 187, 0.5) 0px 2px 14px, rgba(42, 117, 187, 0.45) 0px 7px 13px -3px,
              rgba(42, 117, 187, 0.2) 0px -3px 0px inset;
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  display: grid;
  grid-template-columns: [first] 5% [second] 40% [third] 7.5% [fourth] 45% [fifth] auto [sixth];
  grid-template-rows: [first] 5% [second] 25% [third] 7.5% [fourth] 50% [fifth] auto [sixth];
  position: relative;
  top: -115px;
}
h1, h2{
  position: relative;
  top: -50px;
  padding: 0;
  text-align: center;
  margin:0;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 7.5px;
  font-size: 88px;
  color: var(--pokeyellow);
  text-shadow: 3.25px 3.25px var(--borders),
              -2.25px -2.25px var(--borders);
}
h2{
  position: relative;
  top:-125px;
  font-size: 26px;
  margin: 0;
}
#user-input{
  /* width:95%;
  height: 10%; */
  margin: auto;
  grid-column-start: second;
  grid-column-end: fifth;
  display: flex;
  flex-direction: column;
}
#user-input>h3{
  font-family: "Jaro", sans-serif;
  font-size: 28px;
  margin: 15px auto;
  color:var(--darkpokeblue);
  text-shadow: 1px 1px var(--pokeyellow);
}
#user-input>input{
  width: 60%;
  height: 26px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: var(--display-frame);
  border: 0px;
  border-bottom: 5px solid var(--borders);
  font-size: 22px;
  color:inherit;
  font-family: "Bangers", system-ui;
}
/* CSS */
#user-input>button {
  align-self: center;
  background-color: var(--button);
  background-image: none;
  /* background-position: 0 90%; */
  /* background-repeat: repeat no-repeat; */
  background-size: 4px 3px;
  /* border-radius: 35px 25px 55px 35px 35px 55px 25px 35px; */
  border-style: solid rgb(60, 90, 166);
  border-width: 2px;
  box-shadow: rgba(60, 90, 166, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  border-color: rgb(60, 90, 166);
  color: var(--borders);
  text-shadow: 1px 1px #3c5aa6;
  cursor: pointer;
  display: inline-block;
  font-family: "Jaro", sans-serif;
  font-size: 1.5rem;
  line-height: 22.5px;
  outline: none;
  padding: .7rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  border-bottom-left-radius: 45px 255px;
  border-bottom-right-radius: 225px 5px;
  border-top-left-radius: 255px 5px;
  border-top-right-radius: 45px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#user-input>button:hover {
  box-shadow: rgba(60, 90, 166, .3) 12px 8px 8px -5px;
  transform: translate3d(0, 5px, 0);
}
#user-input>button:active {
  background-color: var(--darkpokeblue);
  color:var(--pokeyellow);
  box-shadow: rgba(255, 203, 5, .5) 12px 8px 8px -5px;
  transform: translate3d(0, 5px, 0);
}
/* #user-input>button:focus {
  box-shadow: rgba(60, 90, 166, .3) 2px 8px 4px -6px;
} */

#user-input>input:focus{
  outline:none;
}

#pokemon-display{
  grid-row-start: fourth;
  grid-row-end: fifth;
  grid-column-start: second;
  grid-column-end: third;
  display: grid;
  grid-template-columns: [first] 5% [second] 40% [third] 5% [fourth] 45% [fifth];
  grid-template-rows: [first] 5% [second] 65% [third] 25% [fourth] 15% [fifth];
}
#pokemon-stats{
  grid-row-start: fourth;
  grid-row-end: fifth;
  grid-column-start: fourth;
  grid-column-end: fifth;
}
thead{
  text-shadow: 1px 1px 5px var(--pokeyellow);
  font-size: 30px;
}
table{
  border-collapse: collapse;
  width: 85%;
  margin: auto;
  font-family: "Bangers", system-ui;
  color: var(--darkpokeblue);
  text-align: right;
}
table th{
  /* width: 175%; */
  padding-right: 20px;
}
table tbody tr td{
  font-size: 26px;
  padding: 0px;
  padding-top: 10px;
  padding-right: 20px;
  display: table-cell;
}
#poke-data{
  grid-column-start:second;
  grid-column-end: third;
  grid-row-start: second;
  grid-row-end: third;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
}
#poke-data>span{
  font-family: "Bangers", system-ui;
  font-size: 26px;
  color: var(--darkpokeblue);
  margin-top: 5px;
  text-shadow: 1px 1px 1px var(--pokeyellow);
}
#sprite-container{
  grid-column-start:fourth;
  grid-column-end: fifth;
  grid-row-start: second;
  grid-row-end: third;
  position: relative;
  float: right;
  top:0;
  right: -40px;
}
#types{
  grid-column-start:second;
  grid-column-end: fifth;
  grid-row-start: fourth;
  grid-row-end: fifth;
  display: inline-block;
}
#types>span{
  background-color: var(--darkpokeblue);
  color: var(--pokeyellow);
  font-family: "Jaro", sans-serif;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
}
